<mat-tab-group>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">thumb_up</mat-icon>
            Введение в Angular
        </ng-template>
        <ul>
            <li>
                <a href="https://metanit.com/web/angular2/1.1.php" target="_blanc">Что такое Angular. Первый проект</a>
            </li>
            <li>
                <a href="https://metanit.com/web/angular2/1.4.php" target="_blanc">Построение проекта</a>
            </li>
            <li>
                <a href="https://metanit.com/web/angular2/1.2.php" target="_blanc">Первое приложение на Angular</a>
            </li>
        </ul>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">thumb_up</mat-icon>
            Основы Angular
        </ng-template>
        <ul>
            <li>
                <a href="https://metanit.com/web/angular2/2.1.php" target="_blanc">Компоненты</a>
            </li>
            <li>
                <a href="https://metanit.com/web/angular2/2.2.php" target="_blanc">Модули</a>
            </li>
            <li>
                <a href="https://metanit.com/web/angular2/2.3.php" target="_blanc">Загрузка приложения</a>
            </li>
            <li>
                <a href="https://metanit.com/web/angular2/2.4.php" target="_blanc">Стили и шаблоны компонента</a>
            </li>
            <li>
                <a href="https://metanit.com/web/angular2/2.5.php" target="_blanc">Привязка</a>
            </li>
            <li>
                <a href="https://metanit.com/web/angular2/2.6.php" target="_blanc">Работа с компонентами</a>
            </li>
            <li>
                <a href="https://metanit.com/web/angular2/2.7.php" target="_blanc">Взаимодействие между компонентами</a>
            </li>
            <li>
                <a href="https://metanit.com/web/angular2/2.10.php" target="_blanc">Привязка к событиям дочернего компонента</a>
            </li>
            <li>
                <a href="https://metanit.com/web/angular2/2.8.php" target="_blanc">Жизненный цикл компонента</a>
            </li>
            <li>
                <a href="https://metanit.com/web/angular2/2.9.php" target="_blanc">Шаблонные переменные, ViewChild</a>
            </li>
            <li>
                <a href="https://metanit.com/web/angular2/2.11.php" target="_blanc">Взаимодействие между модулями</a>
            </li>
        </ul>
    </mat-tab>
    <mat-tab> 
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">thumb_up</mat-icon>
            Директивы
        </ng-template>
        <li>
            <a href="https://metanit.com/web/angular2/3.1.php" target="_blanc">Директивы</a>
        </li>
        <li>
            <a href="https://metanit.com/web/angular2/3.2.php" target="_blanc">Создание атрибутивных директив</a>
        </li>
        <li>
            <a href="https://metanit.com/web/angular2/3.3.php" target="_blanc">Взаимодействие с пользователем, HostListener и HostBinding</a>
        </li>
        <li>
            <a href="https://metanit.com/web/angular2/3.4.php" target="_blanc">Получение параметров в директивах</a>
        </li>
        <li>
            <a href="https://metanit.com/web/angular2/3.5.php" target="_blanc">Структурные директивы ngIf, ngFor, ngSwitch</a>
        </li>
        <li>
            <a href="https://metanit.com/web/angular2/3.6.php" target="_blanc">Создание структурных директив</a>
        </li>
    </mat-tab>
    <mat-tab label="Сервисы и DI">
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">thumb_up</mat-icon>
            Сервисы и DI
        </ng-template>
        <li>
            <a href="https://metanit.com/web/angular2/4.1.php" target="_blanc">Сервисы</a>
        </li>
        <li>
            <a href="https://metanit.com/web/angular2/4.2.php" target="_blanc">Внедрение сервиса в другой сервис</a>
        </li>
        <li>
            <a href="https://metanit.com/web/angular2/4.4.php" target="_blanc">Опциональные сервисы</a>
        </li>
        <li>
            <a href="https://metanit.com/web/angular2/4.3.php" target="_blanc">Один сервис для всех компонентов</a>
        </li>
        <li>
            <a href="https://metanit.com/web/angular2/4.5.php" target="_blanc">Иерархия сервисов</a>
        </li>
    </mat-tab>

    <mat-tab label="Работа с формами">
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">thumb_up</mat-icon>
            Работа с формами
        </ng-template>
        <li>
            <a href="https://metanit.com/web/angular2/5.1.php" target="_blanc">Модуль FormsModule и директива NgModel</a>
        </li>
        <li>
            <a href="https://metanit.com/web/angular2/5.2.php" target="_blanc">Получение и изменение модели</a>
        </li>
        <li>
            <a href="https://metanit.com/web/angular2/5.3.php" target="_blanc">Состояние модели и валидация</a>
        </li>
        <li>
            <a href="https://metanit.com/web/angular2/5.4.php" target="_blanc">Директива NgForm</a>
        </li>
        <li>
            <a href="https://metanit.com/web/angular2/5.5.php" target="_blanc">Reactive Forms</a>
        </li>        
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">thumb_up</mat-icon>
            Работа с HTTP
        </ng-template>
        <li>
            <a href="https://metanit.com/web/angular2/6.1.php" target="_blanc">HttpClient и отправка запросов</a>
        </li>
        <li>
            <a href="https://metanit.com/web/angular2/6.2.php" target="_blanc">Объект Observable и библиотека RxJS</a>
        </li>
        <li>
            <a href="https://metanit.com/web/angular2/6.3.php" target="_blanc">Обработка ошибок</a>
        </li>
        <li>
            <a href="https://metanit.com/web/angular2/6.4.php" target="_blanc">Отправка данных в запросе</a>
        </li>
        <li>
            <a href="https://metanit.com/web/angular2/6.5.php" target="_blanc">POST-запросы</a>
        </li>            
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">thumb_up</mat-icon>
            Маршрутизация
        </ng-template> 
        <li>
            <a href="https://metanit.com/web/angular2/7.1.php" target="_blanc">Определение маршрутов</a>
        </li>
        <li>
            <a href="https://metanit.com/web/angular2/7.2.php" target="_blanc">Создание ссылок</a>
        </li>
        <li>
            <a href="https://metanit.com/web/angular2/7.3.php" target="_blanc">Параметры маршрута</a>
        </li>
        <li>
            <a href="https://metanit.com/web/angular2/7.4.php" target="_blanc">Параметры строки запроса</a>
        </li>
        <li>
            <a href="https://metanit.com/web/angular2/7.5.php" target="_blanc">Программная навигация</a>
        </li>          
        <li>
            <a href="https://metanit.com/web/angular2/7.6.php" target="_blanc">Дочерние маршруты</a>
        </li>     
        <li>
            <a href="https://metanit.com/web/angular2/7.7.php" target="_blanc">Guards</a>
        </li>            
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">thumb_up</mat-icon>
            Пайпы
        </ng-template>
        <li>
            <a href="https://metanit.com/web/angular2/8.1.php" target="_blanc">Работа с pipes</a>
        </li>
        <li>
            <a href="https://metanit.com/web/angular2/8.2.php" target="_blanc">Создание своих pipes</a>
        </li>
        <li>
            <a href="https://metanit.com/web/angular2/8.3.php" target="_blanc">Pure и Impure Pipes</a>
        </li>
        <li>
            <a href="https://metanit.com/web/angular2/8.4.php" target="_blanc">AsyncPipe</a>
        </li>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">thumb_up</mat-icon>
            Другое
        </ng-template>
        <li>
            <a href="https://metanit.com/web/angular2/9.1.php" target="_blanc">Webpack</a>
        </li>
        <li>
            <a href="https://metanit.com/web/angular2/9.2.php" target="_blanc">Grid и CRUD-операции</a>
        </li>
    </mat-tab>
</mat-tab-group>