<h1>Обо мне</h1>
<img src="../../assets/nikolas.jpg" width="300" height="400">
<h3>Здравствуйте!</h3>
<p>Меня зовут Тулонов Николай, мне 40 лет.</p>
<p>Работаю системным аналитиком в Ай-Теко, на проекте Сбера - Персональная пенсия ИПП Целевой. Раньше работал в ПФР начальником управления ИТ.</p>
<p>На курс пошел, чтобы вспомнить навыки программирования, поскольку после перехода на руководящую должность растерял эти навыки.</p>
<p>Мне хочется, чтобы курс не прошел зря и по итогу курса я хочу сделать собственное большое приложение на angular (что-то наподобие auto.ru)</p>
<p>Наверное поэтому в процессе выполнения домашних заданий меня тянуло к усложнению логики в проектах, так как я неосознанно хотел 
    попробовать что-то более приближенное к реальности.</p>

