<h1>О курсе Angular</h1>
<p>Курс очень интересный. В процессе изучения узнал много новой для себя информации, а также вспомнил давно забытое старое.</p>
<p>В рамках курса изучили основы Angular, начиная от установки и настройки окружения, до написания тестов на готовые компоненты и модули.</p>
<p>На курсе был принят, на мой взгляд, правильный подход - максимальное погружение в практику. Это позволило нам быстро настроиться на рабочий лад.</p>
<p>Материал курса подавался в правильной последовательности, но очень <strong>интенсивно</strong>, поэтому не всегда удавалось усвоить его с первого раза, приходилось пересматривать некоторые видео.</p>
<p>На мой взгляд было чересчур много домашних заданий, хотя наверное, благодаря этому преподавателю удалось нас заставить быстро углубиться в предмет.</p>
<p>Теперь о преподавателе.</p>
<h1>Преподаватель курса Angular</h1>
<p>Преподавателем на курсе у нас был Павенко Станислав.</p>
<p>Видно, что человек знающий, грамотный и болеющий за то, чтобы мы действительно усвоили материал.</p>
<p>Сначала показалось также что он тиран и ему нравится издеваться над учениками ;-), но ближе к концу курса это ощущение прошло.</p>
<p>Несмотря на то, что мы такие тупые, ему не жалко было тратить на нас свое время.</p>
<p>Хотелось бы сказать ему большое СПАСИБО!!!</p>

